.body {
  background: #f0f5fa;
}
.weatherApp {
  max-width: 500px;
  font-family: "Encode Sans", sans-serif;
  border-radius: 5px;
  margin: 30px auto;
  padding: 15px 10px;
  /* background-color: #acd1e7e7; */
  background: #5f87ab;
}
