.searchBar {
  display: inline;
  padding-right: 5px;
  padding-left: 45px;
  width: 80%;
  border-width: 0;
  border-radius: 5px 0 0 5px;
  color: #444242;
}

.searchButton {
  border-radius: 0 5px 5px 0;
  border-width: 0;
  border-style: solid;
  width: auto;
  color: #444242;
  text-transform: capitalize;
}

.searchButton:hover {
  background-color: aliceblue;
}
