.searchCity {
  display: inline;
  width: auto;
  padding-right: 5px;
  padding-left: 45px;
}

.submmitButton {
  width: auto;
  padding-left: 0px;
  border-width: 0;
}
#searchButton {
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  color: rgb(86, 87, 90);
  border-color: initial;
  border-width: 0;
  border-left-width: 1px;
}
#searchButton:hover {
  background-color: aliceblue;
}
